<div class="site-header">
  <app-header-topbar>

  </app-header-topbar>
  <div class="site-header__middle container ng-star-inserted">
    <div class="site-header__logo">
      <img src="assets/images/us-customized-logo.jpg" alt="Logo">
    </div>
    <div class="site-header__search">
    
    </div>
    <div class="site-header__phone">
      <div class="site-header__phone-title">Customer Service</div>
      <div class="site-header__phone-number">(770) 271-1266</div>
    </div>
  </div>
  <div class="site-header__nav-panel">
    <app-header-nav></app-header-nav>
  </div>
</div>