<div class="page-header">
  <div class="page-header__container container">
    <div class="page-header__breadcrumb">
      <nav aria-label='breadcrumb'>
        <ol class='breadcrumb'>
          <li class="breadcrumb-item">
            <a href="/home">Home</a>
            <app-icon class="breadcrumb-arrow" name="arrow-rounded-right-6x9" size="6x9">
            </app-icon>
          </li>
          <li *ngFor='let breadcrumb of breadcrumbs; let i=index' class="breadcrumb-item" [class.active]="i===breadcrumbs.length-1">
            <a [routerLink]='[breadcrumb.url,breadcrumb.params]' routerLinkActive='active' *ngIf="i!==breadcrumbs.length-1">{{ breadcrumb.label }}</a>
            <span *ngIf="i===breadcrumbs.length-1">{{ breadcrumb.label }}</span>
            <app-icon class="breadcrumb-arrow" name="arrow-rounded-right-6x9" size="6x9" *ngIf="i!==breadcrumbs.length-1">
            </app-icon>
          </li>
        </ol>
      </nav>
    </div>
    <div class="page-header__title ">
      <h1>{{title}}</h1>
    </div>
  </div>
</div>