<div class="site-footer__widget footer-contacts">
  <h5 class="footer-contacts__title">Contact Us</h5>
  <ul class="footer-contacts__contacts">
    <li><i class="footer-contacts__icon fas fa-globe-americas"></i>1175 Highway 23, Suite 8 Suwanee, GA 30024</li>
    <li><i class="footer-contacts__icon fas fa-phone-alt"></i>770.271.1266</li>
    <li><i class="footer-contacts__icon fas fa-phone-alt"></i>800.916.8639</li>
    <li><i class="footer-contacts__icon fas fa-fax"></i>770.271.8793</li>
    <li><i class="footer-contacts__icon far fa-hand-paper"></i> Disclaimer & Terms of Use</li>
  </ul>
</div>
