<ul class="nav-links__list">
  <li class="nav-links__item">
    <a href="home" class="ng-star-inserted">
      <span class="ng-star-inserted">
        Home
      </span>
    </a>
  </li>
  <li class="nav-links__item"><a href="cdadf"><span>Cabinet Doors & Drawer Fronts</span></a></li>
  <li class="nav-links__item"><a href="moldings"><span>Moldings</span></a></li>
  <li class="nav-links__item"><a href="accessories"><span>Accessories</span></a></li>
  <li class="nav-links__item"><a href="specialityproducts"><span>Speciality Products</span></a></li>
  <li class="nav-links__item"><a href="contactus"><span>Contact Us</span></a></li>
</ul>
