<ul class="pagination justify-content-center">
        <li class="page-item disabled">
                <a aria-label="Previous" class="page-link page-link--with-arrow">
                        <app-icon aria-hidden="true" class="page-link__arrow page-link__arrow--left"
                                name="arrow-rounded-left-8x13" size="8x13">
                        </app-icon>
                </a></li>
        <!---->
        <li class="page-item active ng-star-inserted">
                <a class="page-link"> 1
                        <span class="sr-only ng-star-inserted">(current)</span>
                </a>
        </li>
        <li class="page-item ng-star-inserted">
                <a class="page-link"> 2
                        <!----></a>
        </li>
        <li class="page-item">
                <a aria-label="Next" class="page-link page-link--with-arrow">
                        <app-icon aria-hidden="true" class="page-link__arrow page-link__arrow--right"
                                name="arrow-rounded-right-8x13" size="8x13">
                        </app-icon>
                </a>
        </li>
</ul>