<div class="block-slideshow block block-slideshow--layout--full">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-12">
        <div class="block-slideshow__body">
          <owl-carousel-o [options]="slideShowOptions">
            <ng-container *ngFor="let slide of slidesStore">
              <ng-template carouselSlide [id]="slide.Id">
                <youtube-player [videoId]="id" [height]="400" [width]="1134"
                                (ready)="savePlayer($event)"
                                (change)="onStateChange($event)"></youtube-player>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </div>
</div>
