<!-- Icons Grid -->
<div class="container ng-star-inserted">
    <div class="shop-layout shop-layout--sidebar--start">
        <!---->
        <div class="shop-layout__sidebar ng-star-inserted">
            <app-products-sidebar [data]="jsonData"></app-products-sidebar>
        </div>
        <div class="shop-layout__content">
            <div class="block">
                <app-products-view grid="grid-3-sidebar" offcanvas="mobile"></app-products-view>
            </div>
        </div>
        <!---->
    </div>
</div>