<div class="block-header">
  <h3 class="block-header__title">Featured Products</h3>
  <div class="block-header__divider"></div>
  <!---->
  <ul class="block-header__groups-list ng-star-inserted">
    <!---->
    <li><button class="block-header__group block-header__group--active" type="button">All</button></li>
    <li><button class="block-header__group" type="button">Cabinet Doors</button></li>
    <li><button class="block-header__group" type="button">Drawer Fronts</button></li>
    <li><button class="block-header__group" type="button">Moldings</button></li>
    <li><button class="block-header__group" type="button">Accessories</button></li>
  </ul>
  <!---->
  <div class="block-header__arrows-list ng-star-inserted">
    <button class="block-header__arrow block-header__arrow--left" type="button">
      <app-icon name="arrow-rounded-left-7x11" size="7x11">
      </app-icon>
    </button>
    <button class="block-header__arrow block-header__arrow--right" type="button">
      <app-icon name="arrow-rounded-right-7x11" size="7x11">
      </app-icon>
    </button>
  </div>
</div>
