<div class="block block-products-carousel" data-layout="grid-4">
  <div class="container">
    <app-block-header>

    </app-block-header>
    <div class="block-products-carousel__slider">
      <div class="block-products-carousel__preloader"></div>
      <owl-carousel-o [options]="slideShowOptions">
        <ng-container *ngFor="let slide of slidesStore">
          <ng-template carouselSlide [id]="slide.Id">
            <app-product-card [image]="slide.Src" [title]="slide.Title" [link]="slide.Alt">
            </app-product-card>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
</div>
