<div class="block block-products-carousel" data-layout="grid-4">
  <div class="container">
    <app-block-header>

    </app-block-header>
    <div class="block-products-carousel__slider">
      <div class="block-products-carousel__preloader"></div>
      <owl-carousel-o appowlpreventclick="">
        <div class="owl-carousel owl-theme owl-loaded owl-responsive owl-drag">
          <!---->
          <div class="owl-stage-outer ">
            <div class="ng-tns-c28-1">
              <div class="owl-stage" style="width: 8978px; transform: translate3d(-2244px, 0px, 0px); transition: all 0s ease 0s; padding-left: 1px; padding-right: 1px;">
                <!----><!---->
                <div class="owl-item ng-tns-c28-1 cloned ng-trigger ng-trigger-autoHeight " style="width: 266.5px; margin-right: 14px;">
                  <!----><!---->
                  <div class="block-products-carousel__column " style="">
                    <!---->
                    <div class="block-products-carousel__cell ">
                      <app-product-card>

                      </app-product-card>
                    </div>
                  </div>
                  <!---->
                </div>
              </div>
            </div>
          </div>
          <!----><!---->
          <div class="owl-nav disabled ">
            <div class="owl-prev">prev</div>
            <div class="owl-next">next</div>
          </div>
          <div class="owl-dots disabled ">
            <!---->
          </div>
        </div>
      </owl-carousel-o>
    </div>
  </div>
</div>
