.vl-grey{
    border-left:  1px solid grey;
    padding: 20px;
}
.author{
    margin-top: 24px !important;
}
.author strong{
    color:blue;
    text-transform: uppercase;
}
.state{
    padding: 0;
}
.block-products-carousel1 .owl-stage{
    padding-bottom: 0 !important;
}